
.root{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.message{
margin: 5px;
}
.message-container {
    flex: 5;
}
.controls{
    flex: 1;

    display: flex;
 
    button{
        flex: 1;
    }
    input{
        flex: 3;
    }
}