body {
  //font: normal medium/1.4 sans-serif;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  padding: 5px;
  text-align: left;
  border: 1px solid #ccc;
}
tbody tr:nth-child(odd) {
  background: #eee;
}


.video-chat-view {
  position: relative;
  height: 100%;
  width: 100%;

  // debugging props
  //background-color: green;
  // height: 98%;
  // width: 98%;
  // padding: 1%;
}

.media-container {
  position: relative;
  height: 100%;
  width: 100%;

    // debugging props
 
  // padding: 1%;
  // height: 96%;
  // width: 96%;
}

.local-media {
 
  height: 100px;
  width: 100px;
 position: absolute;
 top:10px;
 left:10px;
 z-index: 5;
 // border :3px solid white;
 // debugging property
 //background-color: orange;

  .display-mediastream-container{
    background-color: royalblue;
    height: 100%;
    width: 100%;
  // debugging props

  // height: 94%;
  // width: 94%;
  // padding: 1%;


}

}

.remote-media {
  position: absolute;
  left: 0px;
  top: 3px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  

  .display-mediastream-container{
    background-color: royalblue;
    height: 100%;
    width: 100%;
  }
// debugging props
 // background-color: rgb(63, 207, 128);
}

.call-animation{
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

// debugging props

  // height: 92%;
  // width: 92%;
  // background-color: darkturquoise;
}

.button-container{
  position: absolute;
  bottom: 2px;
  display: flex;
  justify-content: center;
  width: 100%;
  
  // debugging props

  // background-color: fuchsia;
}
button {
  width:20px;
}


.call-animation{
  display: flex;
  flex-direction: column;
  justify-items: flex-start;


}